
.container-fluid {
    margin-top: 70px
}

.imgHolder {
    width: 80px;
    height: 80px
}

.itemside .info, .moreInfo {
    padding-left: 15px;
    padding-right: 7px
}

a {
    text-decoration: none !important
}

.itemside {
    position: relative;
    display: flex;
    width: 100%
}


.coupon {
    border-radius: 1px
}

#checkout, #backShop {
    border-radius: 2px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    width: 100%
}

#checkout{
    color: black;
    background-color: white;
    
}
#checkout:hover{
    background-color: burlywood;
    color: white;
}
.delete {
    color: #ffffff;
    background-color: rgb(255, 0, 0);

    font-size: 12px
}

.delete:hover {
    color: black;
    background-color: rgb(190, 82, 82);
}

