
.container-fluid {
    margin-top: 70px
}

.img-holder {
    width: 80px;
    height: 80px
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

a {
    text-decoration: none !important
}

.itemside {
    position: relative;
    display: flex;
    width: 100%
}


.coupon {
    border-radius: 1px
}

#checkout, #backShop {
    border-radius: 2px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    width: 100%
}

#checkout{
    color: black;
    background-color: white;
    
}
#checkout:hover{
    background-color: burlywood;
    color: white;
}
.xoa {
    color: #ffffff;
    background-color: burlywood;
    border-color: #f8f9fa;
    font-size: 12px
}

.xoa:hover {
    color: black;
    background-color: white;
}

