/* page */

#products-page {
  margin-top: 80px;
}

/*list*/
#products-page .nav .nav-link{
  padding-top: 10px;

}
/* ============= card =================*/
.card{
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-img{
  margin-top: 20px;
  margin-left: 10px;
}

.card-body .d-flex{
  padding-top: 10px;
}

